body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

/*----- Header Logo & Description */

.heading {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.logodescription {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

/*----- Weighing process images */

.weighingprocess {
    display: inline-block;
}

.truckin {
    transform: scale(0.25);
}

.scale {
    transform: scale(0.25);
}

.truckout {
    transform: scale(0.25);
}

/*----- Calculations */

#netweight{
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#eternaltotal{
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}